@import '../../shared/colors';
@import '../../shared/forms.scss';
.login-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  .login-form {
    .form-group {
      position: relative;
      margin-top: 30px; // To create space for floating inputs
      margin-inline: auto;
      max-width: 400px;
      text-align: center;
    }
    .login-button {
      font-size: 1.5rem;
      color: #fff;
      background-color: $primaryColor;
      cursor: pointer;
      &:hover {
        background: darken($primaryColor, 10%);
      }
    }
  }

  .page-text {
    text-align: center;
    margin-top: 1.5rem;
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
